// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//@import "bootstrap/stylesheets/bootstrap/variables";
@import "bootswatch/variables";
@import "bootstrap/stylesheets/bootstrap";
@import "bootswatch/bootswatch";

.section-margin {
	margin-top: $line-height-computed;
	margin-bottom: $line-height-computed;
}

table {
	td.attendee-select {
		width: 1%;
	}
}

/* Live greeting page */
#watch-attendee {
	margin-top: $line-height-computed * 2;
	.large-display {
		font-size: $font-size-base * 4.5;
	}
}

/* QR Code printing page */

.qr-card {
	width: 150px;
	float: left;
	margin-right: $padding-base-horizontal;

	img {
		max-width: 100%;
	}

	.caption {
		padding-top: $padding-base-vertical;
		padding-bottom: $padding-base-vertical;
	}
}
